<div class=" header">
  <div class="header-logo">
    <%= image_tag('chat1.jpeg', alt:"logo", width:"80px")%>
  </div>
  <div class="header-left"></div>
  <div class="header-main">
    <form class="header-main-form">
      <input type="serch"  name="serch"  placeholder="検索バー">
      <input type="submit" name="submit" value="検索">
    </form>
  </div>
  <div class="header-right">
    <ul class="header-right-ul ">
    <% if logged_in? %>
      <li class="header-right-ul-li header-right-btn"><%= link_to "全てのユーザー", users_path %></li>
      <li class="header-right-ul-li header-right-btn"><%= link_to "更新", edit_user_path(current_user) %></li>
      <li class="header-right-ul-li header-right-btn"><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
      <li class="header-right-ul-li header-right-btn"><%= link_to "ログイン", login_path %></li>
      <li class="header-right-ul-li header-right-btn"><%= link_to "新規登録", signup_path %></li>
    <% end %>
    </ul>
  </div>
</div>