<div class=" header">
  <% if logged_in? %>
    <div class="header-logo">
      <%= link_to image_tag('chat1.jpeg', alt:"logo", width:"100%"), new_post_path%>
    </div>
    <div class="header-right-btn"><%= link_to "新規投稿" ,new_post_path %></div>
  <% else %>
      <div class="header-logo">
      <%= link_to image_tag('chat1.jpeg', alt:"logo", width:"100%"), root_url %>
    </div>
  <% end %>
  <div class="header-left"></div>
  <div class="header-main">
    <form class="header-main-form">
      <input type="serch"  name="serch"  placeholder="検索バー">
      <input type="submit" name="submit" value="検索">
    </form>
  </div>
  <div class="header-right">
    <ul class="header-right-ul ">
    <% if logged_in? %>
      <li class="header-right-ul-li header-right-btn"><%= link_to "全てのユーザー", users_path %></li>
      <li class="header-right-ul-li header-right-btn"><%= link_to "更新", edit_user_path(current_user) %></li>
      <li class="header-right-ul-li header-right-btn"><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
      <li class="header-right-ul-li header-right-btn"><%= link_to "ログイン", login_path %></li>
      <li class="header-right-ul-li header-right-btn"><%= link_to "新規登録", signup_path %></li>
    <% end %>
    </ul>
  </div>
</div>